.bannerBgImage {
    height:100vh;
    background:url("../images/wall.jpg");
    background-size:cover;
    position:relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.bannerText {
    text-align: right;
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
}
.bannerText{
    font-size: 4rem;
}

.bannerDesc {
    font-size:2rem;

h1{
    color:greenyellow ;
}
}
.igg{
    background:url("../images/aimg2.jpg");
    background-size:cover;
    position:relative;
}
.iggg{
    background:url("../images/abimg3.jpg");
    background-size:cover;
    position:relative;
}
.gi{
    background:url("../images/abimg4.jpg");
    background-size:cover;
    position:relative;
}
.ab{
     
    background:url("../images/abimg.jpg");
    background-size:cover;
    position:relative;
   
    /* opacity: 0.5; */
 

}
.card{
    cursor:pointer;
    background-color:aliceblue;
    border-radius: 2%;
}
.card:hover{
    background-color:#93f6ba;
    border:4px solid yellowgreen;
 
}
.bIcon{
    width:100%;
    text-align:center;
    font-size:70px;
    height: 50px;

}
.bbicon{
    width: 100%;
  text-align: center;
  font-size: 30px;
  color: greenyellow;
}

.img-fluid:hover{
    border:2px solid yellowgreen;
}
.img-fluid{
    border-radius: 10px;
}
.card-img-top{
    height:40vh;
    border-radius: 2%;
    
}
.butt {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 2px;
  }
  aa {
    background-color: yellow;
  }